@import url(https://fonts.google.com/specimen/Kdam+Thmor+Pro);

:root {

    --fuente:'Kdam Thmor Pro';
    --font-titulo:80px;
    --font-grande:50px;
    --font-mediano:35px;
    --font-mediano-pequeño:30px;
    --font-pequeño:20px;

    --color1:#012840;
    --color2:#037F8C;
    --color3:#F2DC9B;
    --color4:#A6783F;
    --color5:#F2F2F2;
}

html,body,ul,li,a,p,h3,span{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: var(--fuente); 
    font-size: var(--font-mediano);
    color: var(--color3);
    
}


body {
    width: 100vw;
    height: 100vh;
}




.celda{
    background-color: var(--color2);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.informacion {
    text-align: center;
    position: relative;
    transition: color .8s ease;
}

.velo {
    background-color: var(--color4);
    position: absolute;
    top: 100%;
    left: 0;
    transition: top .5s ease-in;
    width: 100vw;
    height: 100vh;
}

.celda:hover .informacion {
    color: black;
}

.celda:hover .velo {
    top: 0;
}