@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
:root {

    --fuente:'Kdam Thmor Pro';
    --font-titulo:80px;
    --font-grande:50px;
    --font-mediano:35px;
    --font-mediano-pequeno:30px;
    --font-pequeno:20px;

    --color1:#012840;
    --color2:#037F8C;
    --color3:#F2DC9B;
    --color4:#A6783F;
    --color5:#F2F2F2;


    --colorshade1: #1A3D53;
    --colorshade2: #D9C68B;
}

html,body,ul,li,a,p,h3,span{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: var(--fuente); 
    font-size: var(--font-mediano);
    color: var(--color3);
    
}


body {
    width: 100vw;
    height: 100vh;
}




.wik-celda{
    background-color: var(--color2);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.wik-informacion{
    text-align: center;
    position: relative;
    transition: color .8s ease;
    padding: 10px;
}

.wik-velo{
    background-color: var(--color4);
    position: absolute;
    top: 100%;
    left: 0;
    transition: top .3s ease-in;
    width: 100vw;
    height: 100vh;
}



.wik-celda:hover .wik-velo {
    top: 0;
}