@import url(estilos-generales.css);
@import url(estilosHwei.css);

.division {
    display: flex;
}
.carrusel {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 600px;
    flex-grow: 1;
    
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
}

.ficha-carrusel {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 60vh;
    top: 1px;
    justify-content: space-evenly;
    background-color: var(--colorshade2);
    align-items: center;
    position: absolute; 
    transform: translateY(120%);
    transition: transform .8s ease-in-out;   
    border-radius: 50px;
    box-shadow: 19px 11px 19px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 19px 11px 19px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 19px 11px 19px 0px rgba(0,0,0,0.69);
}
.imagen-carrusel {
    display: flex;
    flex-direction: column;
}
.imagen-carrusel img {
    align-self: center;
    width: 47vw; 
    display: block;
    border-radius: 30px;
}

h3 {
    color: var(--color4);
}

.info-carrusel {
    display: flex;
}
@media screen and (320px <= width <= 780px) {
    .division {
        height: 600px;
    }
    .carrusel {
        height: 85vh;
        width: 90vw;
        
    }

    .ficha-carrusel {
        width: 80vw;
        height: 80vh;
        transform: translateY(165%);
    }

    .imagen-carrusel img {
        width: 60vw;
        /* margin-top: 20px; */
        /* margin-bottom: -40px; */
    }

    .info-carrusel{
        width: 80vw;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 20px; */
    }


    .info-carrusel h3 {
        font-size: var(--font-mediano-pequeno);
        margin-left: 10px;
        
    }

    
}


