*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-color:bisque;
    
    min-width: 800px;
}

h1{
    text-align: center;
    margin: 30px;
    font-size: 90px;

}
.pregunta{
    background-color:tomato;
    color: white;
    width: 80%;
    margin: 0 auto;    
    border: solid  5px;
    border-radius: 20px;
}
.pregunta img {
    height: 20%;
    width: 20%;
    border: solid 3px black;
    border-radius: 20px;
}
.pregunta div {
    margin: 25px;
    text-align: center;
}
.pregunta h3{
    font-size: 40px;
    line-height: 50px;
    margin-left: 20px;
    padding: 10px;
}
.respuesta{
    margin: 10px auto;
}
.respuesta input[type=radio]{
    display: none;
}
.respuesta input[type=checkbox]{
    display: none;
}
.respuesta label{
    color: white;
    text-align: center;
    display: block;
    cursor: pointer;
    background-color:coral ;
    margin: 20px auto;
    font-size: 30px;
    width: 70%;
    border-radius: 20px;
    line-height: 40px;
}
label:hover{
    background-color:#bd4c42;
}

.validar{
    display: block;
    text-align: center;
}
.validar button{
    margin: 30px;
    width: 70%;
    font-size: 50px;
    border-radius: 10px;
    background-color:darksalmon;
}
.validar button:hover{
    background-color: #bd4c42;
}

.respuesta input[type=radio]:checked+label{
    background-color:#bd4c42; 
}
.respuesta input[type=checkbox]:checked+label{
    background-color:#bd4c42; 
}