*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 50px;
}
section {
    display: flex;
    font-size: 1rem;
    
    justify-content: space-around;
    
}



.productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 70vw;
    background-color: aquamarine;
    font-size: 2em;
    gap: 20px;
    border-radius: 50px;
    
    
}

.producto {
    background-color: white;
    -webkit-box-shadow: 4px 5px 7px 1px #000000; 
    box-shadow: 4px 5px 7px 1px #000000;
    display: flex;
    flex-flow: column wrap;
    border: solid 5px;
    border-color: cornflowerblue;
    border-radius: 10px;
    gap: 10px;
    align-self: center;
    padding: 10px;
    width: 40vw;
    min-width: 300px;
    margin: 20px;

}

.producto h2, .producto img, .producto p {
    align-self: center;
}

button {
    background-color:skyblue;
    font-size: 0.75em;
    padding: 5px;
    margin-bottom: 20px;
    gap: 20px;
    border-radius: 5px;
    
}
.productos h1, .carrito h1 {
    justify-content: center;
    font-size: 50px;
    margin: 30px;
    border-bottom: solid 10px;
}

.carrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 30vw;
    background-color: cornflowerblue;
    font-size: 2.5rem;
    border-radius: 50px;
    
}


.productoCarrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px; 
    border: solid 5px;
    background-color: white;
    border-color: skyblue;
    border-radius: 10px;
    -webkit-box-shadow: 4px 5px 7px 1px #000000; 
    box-shadow: 4px 5px 7px 1px #000000;
    gap: 10px;
    justify-content: space-evenly;
}

.productoCarrito h3 {
    align-self: center;
}

.detallesCarrito {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}

.detallesCarrito button {
    font-size: 1rem;
    padding: 5px;
    margin-right: 10px;
}



